/* adminHeader */


.adminHeader {
    width: 100%;
    height: auto;
}

.adminHeader .adminHeader-con {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    box-shadow: 5px 0 10px;
}

.adminHeader .adminHeader-con .gnb {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.adminHeader .adminHeader-con .gnb .logo{
    width: auto;
    height: 50px;
} 
.adminHeader .adminHeader-con .gnb .logo a img{
    width: auto%;
    height: 50px;
    display: block
}
.adminHeader .adminHeader-con .gnb .main-menu-con {
    width: auto;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul{
    display: flex;
    flex-grow: 1;
    width: auto;
    height: auto;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li{
    display: flex;
    flex-grow: 1;
    cursor: pointer;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li>div{
    padding: 0 30px;
    display: flex;
    justify-content: center;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con{
    display: flex;
    flex-direction: column;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .left-menu>ul{
    display: flex;
    justify-content: space-between;
}

/* .adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .left-menu{
    display: flex;
    justify-content: center;
} */
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .left-menu>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .left-menu>ul>li{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    padding: 0 20px;
    width: auto;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .left-menu>ul>li>a{
    height: 50px;
    position: relative;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .left-menu>ul>li .topMenuOptions{
    border: 1px solid black;
    background-color: rgb(2, 2, 2, 0.99);
    position: absolute;
    width: 200px;
    top: 50px;
    display: flex;
    justify-content: center;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .left-menu>ul>li .topMenuOptions>*>*>*{
    color: white;
}

.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .right-menu{
    display: flex;
    align-items: center;
    top: 10px;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .right-menu input{
    line-height: 30px;
    padding: 0 20px;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con>div:nth-child(2){
    display: flex;
    justify-content: center;
}

.adminHeader .adminHeader-con .gnb .main-menu-con>ul .li-last{
    
    height: 50px;
    cursor: pointer;
}

.adminHeader .adminHeader-con .gnb .main-menu-con>ul .li-last a{
    
    height: 100%;
    display: block
}
/* .adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .left-menu{
    position: absolute;
    visibility: hidden;
}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul>li .li-con .right-menu{
    position: absolute;
    visibility: hidden;
} */

.adminHeader .adminHeader-con .gnb .main-menu-con>ul li.li-last{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 255, 255, 0);
    height: 50px;
    column-gap: 70px;
}

.adminHeader .adminHeader-con .gnb .main-menu-con>ul li.li-last a{
    width: 50px;
    padding: 10px;
    cursor: pointer;

}
.adminHeader .adminHeader-con .gnb .main-menu-con>ul li.li-last a img{
    width: 30px;
    height: 30px;
    display: block;
    /* cursor: pointer; */
}



.hide2{
    position: absolute;
    visibility: hidden;
    transition: all .1s cubic-bezier(.19,1.03,.95,.17) ;
}

.show{
    position: absolute;
    visibility: visible;
    transition: all .1s ease-in-out;
}








