@import url(../common/reset.css);
@import url(adminHeader.css);
@import url(adminLeftNavContainer.css);
@import url(adminRightContainer.css);

/* Admin 페이지에서는 adminArtistHeader, 메인, footer의 row-gap을 줄인다. */
body{
    row-gap: 0;
}

.hideLeftNavContents{
    visibility: hidden;
    position: absolute;
    /* transition: all 0.5s; */
}


.adminMain{
    width: 100%;
    height: auto;
}
.adminMain .adminMain-con{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: stretch;
}

.adminMain .adminMain-con .leftNavBarCon{
    flex: 1;
    background-color: rgba(2, 2, 2, 0.70);
}

.adminMain .adminMain-con .rightMainContainer{
    flex: 5;
}